main{
   max-width: 1170px;
   margin-left: 95px;
   padding-bottom: 150px;
}
ul{
   padding: 0;
}

.content_link_list{
   max-width: 1170px;
   height: 100%;
   margin-top: 72px;
}

.content_link_list ul{
  display: inline-flex;
  list-style: none;
}

.content_link_list li{
  margin-right: 59px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 100%;
  display: flex;
  align-items: center;
}

.content_link_list a{
  text-decoration: none;
  color: #7A7A7A;
  font-weight: 600;
}

.content_shop_list{
   max-width: 1170px;
   margin-left: 132px;
}

.content_link_list li::after{
  padding-left: 60px;
  content: "|";
 color: #D5D5D5;
 font-weight: 100;
}

.content_link_list li:last-child::after{
  content: " ";
}

.selectedLink a{
   font-family: Montserrat;
   font-style: normal;
   font-weight: bold;
   font-size: 24px;
   line-height: 100%;
   color: #474E95;
}

.shop_block{
   width: 1250px;
   margin-top: 57px;
   height: 287px;
   background: #FAFAFA;
   box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
}

.shop_block_content{
   display: flex;
}

.shop_block_infoleft{
   margin-left: 40px;
   margin-top: 40px;
   width: 300px;
   height: 207px;
}

.shop_block_infoleft ul{
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   padding: 0;
   margin: 0;
}

.firstLi::marker{
   background: #FD7441;
   color: #FD7441;
}

.secondLi::marker{
   background: #41FD6A;
   color: #41FD6A;
}

.shop_block_infoleft li:nth-child(2){
   margin-top: 25px;
   margin-right: 40px;
   margin-left: 68px;
   list-style: circle;
}

.shop_block_infoleft li:nth-child(3){
   margin-top: 25px;
   list-style: circle;
}

.shop_block_infoleft li>img{
   width: 300px;
   height: 74px;
}

.shop_block_infoleft_description{
   width: 244px;
   height: 12px;
   
}

.shop_block_click{
   width: 272.12px;
   height: 43px;
   margin-top: 56px;
   margin-left: 20px;
   display: flex;
}

.shop_block_click a{
   width: 210px;
   height: 43px;
   text-decoration: none;
   border: 2px solid #F12E6D;
   display: flex;
   align-items: center;
   border-radius: 50px;
   justify-content: center;
   font-family: Montserrat;
   font-style: normal;
   font-weight: 600;
   background: transparent;
   font-size: 12px;
   line-height: 100%;
   text-transform: uppercase;
   color: #F12E6D;
   margin-right: 20px;
}

.shop_block_click a:hover{
   background-color: #F12E6D;
   color: white;
   filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.1));
   transition: all 0.45s ease-out;
}

.shop_block_details{
   width: 275px;
   height: 161px;
   margin-top: 60px;
   margin-left: 30px;
}

.shop_block_web_site_header{
   display: flex;
   font-family: Montserrat;
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 100%;
   display: flex;
   align-items: center;
   color: #000000;
}

.shop_block_web_site{
   margin-left: 76px;
}

.shop_block_web_site a{
   font-family: Montserrat;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 100%;
   color: #474E95;
   text-decoration: none;
}

.shop_block_phone_header{
   margin-top: 24px;
   display: flex;
   font-family: Montserrat;
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 100%;
   display: flex;
   align-items: center;
   color: #000000;
}

.shop_block_phone{
   font-weight: normal;
   margin-left: 33px;
}

.shop_block_email_header{
   display: flex;
   margin-top: 24px;
   font-family: Montserrat;
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 100%;
   display: flex;
   align-items: center;
   color: #000000;
}

.shop_block_email{
   margin-left: 65px;
   font-weight: normal;
}

.shop_block_contact_os_header{
   display: flex;
   margin-top: 24px;
   font-family: Montserrat;
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 100%;
   display: flex;
   align-items: center;
   color: #000000;
}

.shop_block_contact_os{
   margin-left: 42px;
   font-weight: normal;
}

.shop_block_line{
   margin-top: 130px;
   width: 207px;
   height: 0px;
   left: 905px;
   top: 156px;
   border: 1px solid #D5D5D5;
   transform: rotate(90deg);
}

.shop_block_details_rating{
   width: 220px;
   height: 186px;
   margin-top: 42px;
}

.shop_block_details_rating_web{
   margin-bottom: 56px;
   font-family: Montserrat;
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   line-height: 100%;
   display: flex;
   align-items: center;
   text-transform: uppercase;
   color: #0A0A0A;
}

.shop_block_details_rating_block{
   display: flex;
   font-family: Montserrat;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 100%;
   display: flex;
   align-items: center;
   color: #414040;
}

.shop_block_details_rating_block_number,.shop_block_details_rating_ball_block_number{
   font-family: Montserrat;
   font-style: normal;
   font-weight: 600;
   font-size: 24px;
   line-height: 100%;
   display: flex;
   align-items: center;
   color: #414040;
   margin-right: 10px;
}

.shop_block_details_rating_img,.shop_block_details_rating_ball_block_img{
   margin-right: 10px;
}



.shop_block_details_rating_ball_block{
   margin-top: 54px;
   font-family: Montserrat;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 100%;
   display: flex;
   align-items: center;
   color: #414040;
}

.content_block{
   width: 100%;
}
.content_header{
   margin-top: 84px;
   font-family: Montserrat;
   font-style: normal;
   font-weight: bold;
   font-size: 24px;
   line-height: 100%;
   align-items: center;
   color: #474E95;
   margin-bottom: 32px;
}

.response_block{
   max-width: 1170px;
   margin-bottom: 36px;
   height: 311px;
   display: flex;
   background: #FDFDFD;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
}

.response_block_content{
 text-align: center;
  width: 220px;
  height: 216px;
  padding-top: 50px;
  margin-left: 94px;
}

.response_block_content_img img{
   border-radius: 50px;
}

.response_block_content_username{
   margin-top: 12px;
   font-family: Montserrat;
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   line-height: 100%;
   color: #000000
}

.response_block_content_date_push{
   margin-top: 8px;
   font-family: Montserrat;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 100%;
   color: #0A0A0A;
}

.response_block_content_ball{
   margin-top: 26px;
   margin-left: 130px;
   display: inline-flex;
   width: 500px;
    height: 50px;
   align-items: flex-start;
}

.response_block_content_star{
   align-items: center;
   margin-right: 10px;
}

.response_block_content_rating{
   margin-top: 3px;
   font-family: Montserrat;
   font-style: normal;
   font-weight: 600;
   font-size: 24px;
   line-height: 100%;
   display: flex;
   align-items: center;
   color: #414040;
}

.response_block_content_good{
   margin-top: 4px;
   margin-left: 10px;
   font-family: Montserrat;
   font-style: normal;
   font-weight: bold;
   font-size: 20px;
   line-height: 100%;
   color: #7BEDAB
}

.response_block_content_bad{
   margin-top: 4px;
   margin-left: 10px;
   font-family: Montserrat;
   font-style: normal;
   font-weight: bold;
   font-size: 20px;
   line-height: 100%;
   color: #ED7B7B
}

.response_block_content_text{
   margin-left: 130px;
}

.response_block_content_text_header{
   font-family: Montserrat;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 100%;
   display: flex;
   align-items: center;
   color: #000000;
}

.response_block_content_text_content{
   margin-top: 20px;
   font-family: Montserrat;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 130%;
   display: flex;
   align-items: center;
   color: #000000;
}

.response_block_content_interesting{
   margin-left: 150px;
   margin-top: 20px;
}

.Arrow{
   position: absolute;
    right: 50px;
    top: 60px;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    width: 50%;
    text-align: center;
    transition: opacity .15s ease;
}

.arrow_block{
   position: absolute;
   width: 200px;
   height: 200px;
   right: 0;
   margin-bottom: 30px;
}

.styleArrowLeft span{
   width: 53px;
   height: 53px;
   background-image:url("../../assets/images/Влевонезар.svg"); 
}

.styleArrowLeft span:hover{
   background: url("../../assets/images/Влево.svg");
}

.styleArrowLeft span:active{
   background: url("../../assets/images/Влево.svg");
}

.styleArrowRight span{
   width: 53px;
   height: 53px;
   background-image:url("../../assets/images/Вправонезар.svg") 
    
}
.styleArrowRight span:hover{
   background: url("../../assets/images/Вправо.svg");
}

.styleArrowRight span:active{
   background: url("../../assets/images/Вправо.svg");
}

@media (min-width: 320px) and (max-width: 480px){

   .content_link_list ul{
      display: block;
   }

   main{
      margin-left: 30px;
   }

   .content_link_list li{
      width: 100%;
      margin-bottom: 20px;
   }

   .shop_block{
      width: 350px;
      height: 620px;
   }

   .shop_block_line{
      display: none;
   }

   .shop_block_details{
      margin-bottom: 15px;
   }

   .shop_block_details_rating{
      margin: 0 auto;
   }

   .shop_block_email{
      margin-left: 50px;
   }

   .shop_block_infoleft li:first-child{
      margin-top: 20px;
   }

   .shop_block_details_rating_web{
      margin-left: 50px;
      margin-bottom: 26px;
   }

   .shop_block_details_rating_ball_block{
      margin-top: 30px;
   }

   .content_link_list li::after{
      content: "";
   }

   .shop_block_content{
      display: block;
   }

   .response_block{
      width: 100%;
      display: block;
      height: 100%;
   }
   
   .response_block_content{
      margin-left: 65px;
   }

   .response_block_content_text{
      margin-left: 30px;
   }

   .response_block_content_ball{
      margin-left: 10px;
   }
   
   .response_block_content_text_content{
   padding-bottom: 40px;
   }
}