*{
   padding: 0;
   margin: 0;
}

.nav-brand{
   margin-top: 28px;
   margin-bottom: 42px;
}

button{
   outline: none;
}

.container{
   max-width: 1170px;
   margin: 0 auto;
}

.nav-brand-name{
   font-family: Montserrat;
   font-style: normal;
   font-weight: bold;
   font-size: 32px;
   line-height: 85%;
   color: #474E95;
}

.nav-brand-name p{
   margin-top: 7px;
   font-family: Montserrat;
   font-style: normal;
   font-weight: 500;
   font-size: 32px;
   line-height: 50%; 
   color: #474E95;

}

.nav-register{
   margin-top: 20px;
   text-align: center;
   float: right;
   font-family: Montserrat;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 100%;
   color: #414040;
}

.nav-register a{
   text-decoration: none;
}

.login_block{
   text-align: center;
   width: 470px;
   height: 359px;
   margin: auto;
   padding: 20px 20px;
   margin-top: 50px;
}

.login_block_header{
   text-align: left;
   font-family: Montserrat;
   font-style: normal;
   font-weight: bold;
   font-size: 24px;
   line-height: 29px;
   text-transform: uppercase;
   color: #F12E6D;
}

.login_block_header:first-of-type{
   padding-bottom: 15px;
   width: 470px;
   border-bottom:1px solid #D5D5D5;
}

.login_block_form{
   margin-top: 32px;
   text-align: left;
}

.alert-warning{
   color: red;
   font-family: Montserrat;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 100%; 
}

.login_block_form input[type=text]{
   background: #F2F2F2;
   border: 1px solid #D5D5D5;
   box-sizing: border-box;
   padding: 10px;
   margin-bottom: 32px;
   font-family: Montserrat;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 100%;
   color: #000000;
   width: 470px;
   outline: none;
   height: 43px;
   box-shadow: 0px 4px 6px rgb(0 0 0 / 6%)
}

.login_block_form input[type=password]{
   background: #F2F2F2;
   border: 1px solid #D5D5D5;
   box-sizing: border-box;
   padding: 10px;
   font-family: Montserrat;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 100%;
   color: #000000;   
   width: 470px;
   outline: none;
   margin-bottom: 42px;
   height: 43px;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
}


.login_block_form input[type=password]:focus,.login_block_form input[type=text]:focus{
   background: #FFFFFF;
}

.login_block_form label{
   font-family: Montserrat;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 100%;
   margin-bottom: 8px;
   display: flex;
   align-items: center;
   color: #000000;
}

.login_block_form input[type=submit]{
   padding: 10px 50px;
   text-transform: uppercase;
   border-radius: 50px;
   font-family: Montserrat;
   font-style: normal;
   font-weight: 600;
   font-size: 12px;
   background-color: transparent;
   line-height: 100%;
   border: 2px solid #F12E6D;
   cursor: pointer;
   color: #F12E6D;
   margin-bottom: 30px;

}

.login_block_form input[type=submit]:hover{
   background-color: #F12E6D;
   color: white;
   filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.1));
   transition: all 0.45s ease-out;
}

.alert-danger{
   margin-top: 20px;
   text-align: center;
   width: 100%;
   height: 50px;
   color: #842029;
   background-color: #ED7B7B;
   background-color: #ED7B7B;
   margin-bottom: 20px;
}

.alert-danger-text{
   margin: auto;
   font-family: Montserrat;
   font-style: normal;
   padding: 17px;
   color: white;  
   font-weight: 600;
   font-size: 14px;
   line-height: 100%;
}


@media (min-width: 320px) and (max-width: 480px){

   .nav-brand{
      text-align: left;
      margin-left: 10px;
   }
   
   .nav-register{
      text-align: right;
      margin-right: 10px;
    }
   
   .login_block{
      width: 350px;
      height: 450px;
      margin-left: 5px;
   }

   .alert-danger{
      width: 350px;
      margin-left: 30px;
   }

   .alert-danger-text{
      font-size: 14px;
   }

   .login_block_form input[type=text],.login_block_form input[type=password]{
      width: 350px;
   }
}
