<app-header></app-header>
<div class="content_alert" *ngIf="isUpdateSuccesful">
   Дані змінено успішно
</div> 
<div class="aler-warnign" *ngIf="isFail">
  Не вірні дані
</div>
<main>
    <div class="content">
              
      <div class="content_setting">
         <div class="content_setting_block">
            <div class="content_block">
            <div class="content_setting_block_list">
               <div class="content_setting_block_header">
                  <a href="/profile">Профіль</a> 
                </div>
               <ul>
                  <li><a href="favourite">Улюблені</a></li>
                  <li><a href="accountSetting">Редагування</a></li>
                  <li><a href="accountLoginAndPassword">Пароль і логін</a></li>
                  <li><a href="#">Вийти</a></li>  
               </ul>
            </div>
         </div>
      </div>
       </div>
       <div class="content_account">
         <div class="content_account_block_text">
            <div class="content_account_block_text_img" *ngIf="isLogo">
               <img alt="" [src]="user?.logo">
            </div>   
            <div class="content_account_block_text_img" *ngIf="!isLogo">
               <img src="../../assets/images/Anonimus.svg">
            </div>
            <div class="content_account_block_text_details">
               <div class="content_account_block_text_username">
                  {{username}}
               </div>
               <div class="content_account_block_text_name_surname">
                  {{user?.surname}} {{user?.name}}
               </div>
            </div>
         </div>
            <div class="content_account_form">
               <form [formGroup]="updateForm" (ngSubmit)="UpdateForm()">
                     <label for="username">Логін</label>
                     <input type="text" class="username" [formControlName]="'login'" value='{{username}}'>   
                     <label for="past_password">Минулий пароль</label>
                     <input type="password"  [formControlName]="'oldpass'" class="past_password">  
                     <label for="new_password">Новий пароль</label>
                     <input type="password" [formControlName]="'newpass'" class="new_password">  
                     <input type="submit" value="Зберегти">
               </form>
            </div>
         </div>
        
    
      </div>
 </main>
 <app-footer></app-footer>