*{
   padding: 0;
   margin: 0;
}

body{
  height: 100%;
  overflow-y: auto;
}

button{
   outline: none;
}

header{
   background: #474E95;
}

.container{
   max-width: 1170px;
   margin: 0 auto;
}

.nav-brand{
   width: 100%;
   display: flex;
}

.nav-brand-name{
   font-family: Montserrat;
   font-style: normal;
   font-weight: bold;
   font-size: 64px;
   line-height: 85%;
   color: white;
   margin-top: 21px;
   margin-bottom: 21px;
}

.nav-brand-name p{
   margin-top: 7px;  
   font-family: Montserrat;
   font-style: normal;
   font-weight: 100;
   font-size: 64px;
   line-height: 50%; 
   color: white;
}

.nav-link{
   display: inline-flex;
   margin-left: 63px;
}

.nav-link-list{
   margin-top: 48px;
   margin-bottom: 90px;
}

.nav-link-list ul{
   list-style: none;
   display: inline-flex;
}

.nav-link-list li{
   text-transform: uppercase;
   font-family: Montserrat;
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   line-height: 20px;
   display: flex;
   align-items: center;
   text-align: center;
   color: #FFFFFF;
   margin-right: 84px;
}

.nav-link-list a{
   text-decoration: none;
   color: #FFFFFF;
}

.nav-link-list-right{
   text-align: right;
   margin-left: 292px;
   margin-top: 33px;
   margin-bottom: 75px;
}

.nav-link-list-right ul{
   list-style: none;
   display: inline-flex;

}

.nav-link-list-right li{
   text-align: right;
   font-family: Montserrat;
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   line-height: 20px;
   display: flex;
   align-items: center;
   text-align: center;
   color: #000000;
   color: white;
}

.nav-link-list-right li:last-child{
   margin-right: 135px;
}

.nav-link-list-right li:first-child{
   margin-right: 40px;
}

.logo img{
   width: 50px;
   height: 50px;
   border-radius: 60px;
}

.nav-link-list-right a{
   text-decoration: none;
   color: #000000;
}

.content{
   max-width: 1170px;
   display: flex;
}

.content_setting{
   margin-top: 74px;
   margin-left: 96px;

}

.content_block{
   width: 282px;
   height: 362px;
   padding: 40px;
   margin: 40px;
   background: #FAFAFA;
   box-shadow: 0px 20px 50px rgb(0 0 0 / 10%);

}

.content_setting_block_header{
   font-family: Montserrat;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 100%;

}

.content_setting_block_header a{
   text-decoration: none;
   color: #000000;

}

.content_setting_block_header a:hover{
   background: url(../../assets/images/arrow.svg) no-repeat 100% ;
   font-weight: bold;
   text-transform: uppercase;
   transition: all 0.35s ease-out;
   padding-right: 26px;
}

.content_setting_block_header:first-of-type{
   padding-bottom: 30px;
   border-bottom: 1px solid #D5D5D5;
}

.content_setting_block_list li:first-child{
   margin-top: 24px;
}

.content_setting_block_list li{
   list-style: none;
   margin-bottom: 24px;
   font-family: Montserrat;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 20px;
}

.content_setting_block_list a:hover{
   background: url(../../assets/images/arrow.svg) no-repeat 100% ;
   font-weight: bold;
   text-transform: uppercase;
   transition: all 0.35s ease-out;
   padding-right: 26px;
}

.content_setting_block_list a{
   text-decoration: none;
   color: #000000;
}

.content_setting_block_list li:last-child{
   padding-top: 30px;
   margin-bottom: 0;
   border-top: 1px solid #D5D5D5;
}

.content_account{
  margin: 1 auto;
}

.burger{
   display: none;
}

.content_account_block{
   width: 600px;
   height: 250px;
}

.content_account_block_text{
   margin: 0 auto;
   display: flex;
   height: 70px;
   width: 475px;
   margin-left: 127px;
   margin-top: 74px;

}

.content_account_block_text_img img{
   width: 75px;
   height: 75px;
   border-radius: 60px;

}

.content_account_block_text_img{
   margin-right: 22px;
}

.content_account_block_text_details{
   margin-left: 22px;
}

.content_account_block_text_username{
   font-family: Montserrat;
   font-style: normal;
   font-weight: bold;
   font-size: 24px;
   line-height: 100%;
   display: flex;
   align-items: center;
   color: #0A0A0A;
}

.content_account_block_text_name_surname{
   margin-top: 20px;
   text-align: left;
   font-family: Montserrat;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 100%;
   display: flex;
   align-items: center;
   color: #000000;
}

.content_account_form{
   margin-left: 127px;
   margin-top: 58px;
}

.content_account_form label{
   font-family: Montserrat;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 100%;
   color: #000000;
}

.content_account_form  input[type=text]{
   font-family: Montserrat;
   outline: none;
   font-style: normal;
   padding: 10px;
   margin-bottom: 32px;
   display: flex;
   font-weight: normal;
   margin-top: 8px;
   font-size: 16px;
   line-height: 100%;   
   background: #F2F2F2;
   width: 600px;
   height: 40px;
   border: 1px solid #D5D5D5;
   box-sizing: border-box;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);

}

.content_setting_block_list li:nth-child(3){
   font-weight: bold;
   text-transform: uppercase;
}

.content_account_form  input[type=email]{
   font-family: Montserrat;
   font-style: normal;
   padding: 10px;
   outline: none;
   font-weight: normal;
   font-size: 16px;
   margin-bottom: 32px;
   line-height: 100%;   
   background: #F2F2F2;
   width: 600px;
   height: 40px;
   border: 1px solid #D5D5D5;
   box-sizing: border-box;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
}

.content_account_form  input[type=password]{
   font-family: Montserrat;
   font-style: normal;
   margin-top: 8px;
   padding: 10px;
   outline: none;
   margin-bottom: 32px;
   font-weight: normal;
   font-size: 16px;
   line-height: 100%;   
   background: #F2F2F2;
   width: 600px;
   height: 40px;
   border: 1px solid #D5D5D5;
   box-sizing: border-box;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
}

.content_account_form input[type=submit]{
   padding: 10px 40px;
   outline: none;
   filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.1));
   border-radius: 50px;
   font-family: Montserrat;
   background-color: transparent;
   font-style: normal;
   font-weight: 600;
   font-size: 12px;
   text-transform: uppercase;
   line-height: 100%;
   border: 2px solid #F12E6D;
   cursor: pointer;
   color: #F12E6D;
   margin-top: 42px;
   margin-bottom: 93px;
}

.content_account_form  input[type=text]:focus,
.content_account_form  input[type=password]:focus,.content_account_form  input[type=email]:focus{
   background: #FFFFFF;
}

.content_account_form input[type=submit]:hover{
   background-color: #F12E6D;
   color: white;
   box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
   transition: all 0.45s ease-out;
}

.content_alert{
  text-align: center;
  padding: 30px;
  background: #7BEDAB;
  font-family: Montserrat;
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 100%;
   color: #FAFAFA;
}

.aler-warnign{
   text-align: center;
   padding: 30px;
   background-color: #ED7B7B;
   font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #FAFAFA;
}

footer{
   width: 100%;
   margin: 20;
   margin-top: 100px;
   text-align: center;
   background-color: #474E95;

}

.footer_text{
   color: white;
   padding: 40px;
}

input[type='text'].ng-dirty.ng-invalid {
   border:1px solid red;
   background: #F2F2F2;
}

input[type='password'].ng-dirty.ng-invalid {
   border:1px solid red;
   background: #F2F2F2;
}

@media (min-width: 320px) and (max-width: 480px){
   .content{
     max-width: 480px;
     display: block;
     overflow: hidden;
   }

   .content_setting{
      padding: 10px;
      margin-left: 20px;
      width: 320px;
   }

   .nav-brand-name{
      margin-left: 10px;
      text-align: left;
   }

   .nav-link{

      display: none;
   }
   
   .nav-link-list-right{
      display: none;
   }

   .content_account{
      margin-left: 20px;
   }

   .content_account_block_text_details{
      margin-top: 12px;
   }
   
   .content_account_block_text{
      margin-left: 0;
      margin-top: 35px;
      padding: 10px;
   }

   .content_account_block_text_img img{
      width: 100px;
      height: 100px;
      margin-left: 5px;
   }

   .content_account_block_text_button_first button{
      padding: 10px 10px
   }

   .content_account_block_text_button_first{
      display: block;
      margin-top:0px;
   }

   .content_account_block_text_button_second button{
      padding: 10px 40px
   }

   .content_account_form{
      margin-left: 30px;
   }

   .content_account_form  input[type=email],.content_account_form  input[type=text],
   .content_account_form  input[type=password]{
      width: 300px;
   }

   .burger{
      display: block;
      padding: 60px 0px 0px 110px;
   }
}

