<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <div class="container-fluid">
      <a class="navbar-brand" href="main">Shop Rate</a>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <li class="nav-item dropdown">
           <a class="nav-link active dropdown " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Таблиці
           </a>
           <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
             <li><a class="dropdown-item" href="admin/table/review">Відгугкі</a></li>
             <li><a class="dropdown-item" href="admin/table/users">Користувачі</a></li>
             <li><a class="dropdown-item" href="admin/table/infoshop">Магазини</a></li>
             <li><a class="dropdown-item" href="admin/table/kategory">Категорії</a></li>
           </ul>
         </li>
         <li class="nav-item dropdown">
            <a class="nav-link active dropdown bg-blue" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Додавання 
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
               <li><a class="dropdown-item" href="add/infoshop">Магазини</a></li>
               <li><a class="dropdown-item" href="add/kategory">Категорії</a></li>
               <li><a class="dropdown-item" href="add/photoToShop">Додавання фотографії до магазину</a></li>
            </ul>
          </li>
       </ul>
       <form class="d-flex" id="form">
       <li>Привіт  <i class="username">{{username}}</i>  </li> 
       </form>
     </div>
   </div>
 </nav>